@charset "utf-8";

// Typography
$spacer: 1rem; // As in raw bootstrap

$font-size-base: 1.1rem;
$line-height-base: 1.85;
$headings-line-height: 1.4;
$font-family-serif: "Merriweather", "Times New Roman", serif;
$font-family-sans-serif: "Merriweather Sans", Arial;
$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif;
$headings-margin-bottom: $spacer;

$hr-margin-y: 2 * $spacer;

// Colors
$dark: rgb(31, 52, 86);
$navbar-dark-color: white;

$jumbotron-color: white;
$jumbotron-bg: $dark;

@import "../node_modules/bootstrap/scss/bootstrap";

// Typography ------------------------------------------------------------------

// Add top margin to headings in text flow
h1:not(:first-child), h2:not(:first-child), h3:not(:first-child),
h4:not(:first-child), h5:not(:first-child), h6:not(:first-child),
.h1:not(:first-child), .h2:not(:first-child), .h3:not(:first-child),
.h4:not(:first-child), .h5:not(:first-child), .h6:not(:first-child) {
  margin-top: 2*$headings-margin-bottom;
}

// Navigation ------------------------------------------------------------------
.navbar {
  font-family: $font-family-sans-serif;
}
.navbar .nav-item, .navbar .navbar-brand {
  letter-spacing: 0.0075rem;
  opacity: 0.7;
  transition: opacity 0.5s;
}
.navbar:hover .nav-item, .navbar:hover .navbar-brand {
  opacity: 0.9;
}


// Jumbotron -------------------------------------------------------------------
.jumbotron h1 {
  text-shadow: 0 0 $spacer $dark;
  line-height: 1.25;
}
.jumbotron canvas.background {
  position: absolute;
  display: block;
  opacity: 0.4;
  top: 0;
  left: 0;
  z-index: 0;
}
.jumbotron p.lead {
  opacity: 0.6;
}

