@charset "utf-8";

// Typography
$spacer: 1rem; // As in raw bootstrap

$font-size-base: 1.1rem;
$line-height-base: 1.85;
$headings-line-height: 1.4;
$font-family-serif: "Merriweather", "Times New Roman", serif;
$font-family-sans-serif: "Merriweather Sans", Arial;
$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif;
$headings-margin-bottom: $spacer;

$hr-margin-y: 2 * $spacer;

// Colors
$highlight-light: #d61d7e;
$highlight-dark: #3771c8; //#222464;

$jumbotron-color: black;

@import "../node_modules/bootstrap/scss/bootstrap";

// Page-wide layout ------------------------------------------------------------

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
body > .footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

// Typography ------------------------------------------------------------------

// Add top margin to headings in text flow
h1:not(:first-child), h2:not(:first-child), h3:not(:first-child),
h4:not(:first-child), h5:not(:first-child), h6:not(:first-child),
.h1:not(:first-child), .h2:not(:first-child), .h3:not(:first-child),
.h4:not(:first-child), .h5:not(:first-child), .h6:not(:first-child) {
  margin-top: 2*$headings-margin-bottom;
}
// Now undo the damage everywhere (see popovers below)

// Highlight utility classes
.highlight-light {
  color: $highlight-light;
}
.highlight-dark {
  color: $highlight-dark;
}

// Colors ----------------------------------------------------------------------

:root {
  // TODO figure out why SASS variables can't be set as CSS variables
  --highlight-light: #d61d7e;
  --highlight-dark: #3771c8;
}

// Patterns --------------------------------------------------------------------

.bg-pattern-light {
  background: white url(backgrounds/network_light.png);
  background-position: center center;
}
.bg-pattern-offwhite {
  background: #f8f9fa url(backgrounds/network_dark.png);
  background-position: center;
}
.bg-pattern-color {
  background:
    url(backgrounds/network_light_color.png),
    url(backgrounds/network_light.png),
    white;
  background-position: center;
}
.bg-pattern-dark {
  background: #d2d9e0 url(backgrounds/network_dark.png);
  background-position: center;
}
.bg-pattern-fade {
  background:
    linear-gradient(#ffffff00, #ffffffff),
    url(backgrounds/network_light.png);
}
.container-border {
  border-color: $gray-100;
  border-width: 1px;
  border-style: solid none;
}

// Navigation ------------------------------------------------------------------
.navbar {
  font-family: $font-family-sans-serif;
}
.navbar .nav-item, .navbar .navbar-brand {
  letter-spacing: 0.0075rem;
  opacity: 0.75;
  transition: opacity 0.5s;
}
.navbar:hover .nav-item, .navbar:hover .navbar-brand {
  opacity: 1.0;
}
.navbar .nav-item .nav-link {
  color: rgba(0, 0, 0, 0.75);
}
.navbar .nav-item .nav-link:hover {
  color: rgba(0, 0, 0, 1.0);
}
.navbar .nav-item .nav-link.btn:hover {
  color: rgba(255, 255, 255, 1.0);
  background: $gray-600;
}

// Alignment
.navbar > .container {
  @include media-breakpoint-down(md) {
    .navbar-collapse.show, .navbar-collapse.collapsing {
      display: block;
    }
    li.nav-item {
      padding: 0 0.5*$spacer;
    }
  }
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
}
.navbar > .container > .order-lg-2 {
  margin-left: auto;
}

// Logo
.navbar-brand {
  margin: 0;
  padding-top: 5px;

  img {
    height: 50px;
  }
}


// Jumbotron -------------------------------------------------------------------
.jumbotron {
  text-shadow: 0 0 $spacer $light;
  padding: 20vh 0;
  @include media-breakpoint-down(md) {
    background:
      url(backgrounds/network_light.png),
      white;
    background-position: center;
  }
  @include media-breakpoint-up(lg) {
    background:
      url(backgrounds/network_light_logo.png),
      url(backgrounds/network_light.png),
      white;
    background-repeat:
      no-repeat,
      repeat;
    background-position: calc(50% + 22px) 50%;
  }
  @include media-breakpoint-down(lg) {
    // Nudge backgrounds inward on small screens
    background-position: calc(50% - 50px) 50%;
  }

  h1 {
    line-height: 1.25;
  }
  p.lead {
    color: #555;
  }
}

// Members ---------------------------------------------------------------------

.card-columns.logo-masonry .card {
  border: none;
  font-size: $small-font-size;
  @include media-breakpoint-down(md) {
    text-align: center;
    margin: $spacer*1 0;
  }
}
.card-columns.logo-masonry .card .card-body {
  padding: $spacer 0;
}

// Hover effects
.card-columns.logo-masonry .card img,
.card-columns.logo-masonry .card .card-body {
  transition-duration: .5s;
  /* Use an exponential transition function
     to move the bulk of the action forward */
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* Add a slight delay on mouseout */
  transition-delay: 80ms;
}

.card-columns.logo-masonry .card a img {
  margin: 1px;
  max-width: 300px;
  filter: grayscale(100%) opacity(75%) contrast(10%) brightness(0.2);
  transition-property: filter;
}

.card-columns.logo-masonry .card a:hover img,
.card-columns.logo-masonry .card a:focus img {
  filter: grayscale(0%) opacity(100%);
  transition-delay: 0ms;
}

// Grid layout
.card-columns.logo-masonry {
  display: grid;
  grid-auto-rows: 1fr;
  @include media-breakpoint-down(md) {
    margin-top: 2*$spacer;
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5*$spacer 3*$spacer;
  }

  // Align logos inside the card vertically and horizontally (below md)
  div.card {
    a {
      width: 100%;
      height: 100%;
      cursor: pointer;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &:focus {
        outline: none;
      }
      @include media-breakpoint-up(md) {
        justify-content: flex-start;
      }
    }
  }
}


// Cards -----------------------------------------------------------------------
.card-group.card-network {
  // Undo card group earlier (at md instead of sm)
  @include media-breakpoint-down(md) {
    display: block;

    .card {
      margin: 2*$spacer 0;
      border-left-width: 1px;
      border-radius: $card-border-radius;
    }
  }

  .card .card-header {
    text-align: center;
    background-color: white;
    margin: 1rem;
    padding: 3rem 2rem;
  }
  .card img {
    max-width: 120px;
  }
  .card p.card-text {
    font-size: 1rem;
  }
}

// Footer ----------------------------------------------------------------------

footer {
  font-family: $font-family-sans-serif;
  font-size: $small-font-size;
}

footer .row {
  opacity: 0.9;
}

footer a {
  color: $gray-600;
  text-decoration: underline;
}

// Popovers --------------------------------------------------------------------

.popover {
  min-width: 300px;
}
.popover-header {
  margin-top: 0 !important;
}
