@charset "utf-8";

// Typography
$font-family-serif: "Merriweather", "Times New Roman", serif;
$font-family-sans-serif: "Merriweather Sans", Arial;
$font-family-base: $font-family-serif !default;
$headings-font-family: $font-family-sans-serif;
$line-height-base: 1.8;

// Colors
$dark: rgb(31, 52, 86);
$navbar-dark-color: white;

$jumbotron-color: white;
$jumbotron-bg: $dark;

@import "../node_modules/bootstrap/scss/bootstrap";

.navbar {
  font-family: $font-family-sans-serif;
}
.navbar .nav-item, .navbar .navbar-brand {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.navbar:hover .nav-item, .navbar:hover .navbar-brand {
  opacity: 0.9;
}

.jumbotron p.lead {
  opacity: 0.6;
}

