<footer class="bg-light">
  <div class="container py-5">
    <div class="row" style="opacity: 0.6;">
      <div class="col-lg-3 py-sm-2 py-lg-0">
        <strong>German Reproducibility Network</strong><br />
        <a href="mailto:info@reproducibilitynetwork.de">info@reproducibilitynetwork.de</a>
      </div>
      <div class="col-lg-6 pr-lg-5 py-sm-2 py-lg-0">
        The German Reproducibility Network is a
        <strong>peer-led interdisciplinary consortium that aims to increase trustworthiness and transparency of scientific research</strong>
        by investigating and encouraging the factors that contribute to robust research.
      </div>
      <div class="col-lg-3 py-sm-2 py-lg-0">
        <a href="">Imprint</a><br class="d-sm-none d-lg-inline">
        <a href="/terms">Terms of Reference</a><br class="d-sm-none d-lg-inline">
        <a href="/contact">Contact</a><br class="d-sm-none d-lg-inline">
      </div>
    </div>
  </div>
</footer>
