<footer class="bg-light">
  <div class="container py-5">
    <div class="row" style="opacity: 0.6;">
      <div class="col-3">
        <strong>German Reproducibility Network</strong><br />
        <a href="mailto:info@reproducibilitynetwork.de">info@reproducibilitynetwork.de</a>
      </div>
      <div class="col-6">
        The German Reproducibility Network is a
        <strong>peer-led interdisciplinary consortium that aims to increase trustworthiness and transparency of scientific research</strong>
        by investigating and encouraging the factors that contribute to robust research.
      </div>
      <div class="col-3 pl-5">
        <a href="">Imprint</a><br />
        <a href="">Contact</a><br />
        <a href="/terms">Terms of Reference</a><br />
      </div>
    </div>
  </div>
</footer>
