<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand order-lg-1" href="/">
        <span class="visually-hidden">Back to homepage</span>
        <img
          src="/logos/de-rn/RN_German_kurz.png"
          alt="Logo of the German Reproducibility Network"
        >
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse" data-bs-target=".navbar-nav.collapse"
        aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav collapse navbar-collapse order-lg-0 mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/#mission">Mission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/activity">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resources">Resources</a>
        </li>
      </ul>
      <ul class="navbar-nav collapse navbar-collapse order-lg-2 mb-2 mb-lg-0 justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/terms/">Terms of Reference</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contact</a>
        </li>
        <li class="nav-item ps-2">
          <a class="nav-link btn btn-outline-secondary px-3" href="/join">
            Join
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
