<div class="jumbotron jumbotron-fluid mb-5 position-relative">
  <canvas class="background"></canvas>
  <div class="container">
    <h1 class="display-4">
      German<br>
      Reproducibility<br>
      Network
    </h1>
    <p class="lead mt-4">
      To conduct and promote<br>
      rigorous research in Germany
    </p>
  </div>
  <script defer type="text/javascript">
    var particles = Particles.init({
      selector: '.jumbotron .background',
      color: '#ffffff',
      maxParticles: 260,
      speed: 0.4,
      connectParticles: true,
      minDistance: 60,
      sizeVariations: 2,
      responsive: [
        {
          breakpoint: 1400,
          options: {
            maxParticles: 200,
          },
        },
        {
          breakpoint: 1200,
          options: {
            maxParticles: 150,
          },
        },
        {
          breakpoint: 992,
          options: {
            maxParticles: 100,
          },
        },
        {
          breakpoint: 768,
          options: {
            maxParticles: 75,
          },
        },
        {
          breakpoint: 576,
          options: {
            maxParticles: 50,
          },
        },
      ]
    });
  </script>
</div>
