<div class="jumbotron jumbotron-fluid mb-5 position-relative">
  <canvas class="background"></canvas>
  <div class="container">
    <h1 class="display-4">
      German<br>
      Reproducibility<br>
      Network
    </h1>
    <p class="lead mt-4">
      To conduct and promote<br>
      rigorous research in Germany
    </p>
  </div>
  <script defer type="text/javascript">
    var particles = Particles.init({
      selector: '.jumbotron .background',
      color: '#ffffff',
      maxParticles: 300,
      speed: 0.4,
      connectParticles: true,
      minDistance: 60,
      sizeVariations: 2,
    });
  </script>
</div>
