<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];

  // Don't track users without consent
  _paq.push(['requireConsent']);

  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  //_paq.push(["setCookieDomain", ".lmu.de"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//tellmi.psy.lmu.de/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();

  _paq.push([function () {
    if (!this.hasRememberedConsent() && sessionStorage.getItem('tracking-consent') !== 'opt-out') {
      // Ask for opt-in
      const wrapper = document.querySelector('footer .cookie-consent-wrapper')
      const optIn = document.createElement('div')
      optIn.innerHTML = `
        <div class="cookie-consent container shadow-sm">
          <div class="row">
            <div class="col-lg-6">
              <strong>We'd like to collect statistics about our visitors.</strong><br>Can we do that, and set a cookie to identify you on this site?<br>
              <span class="text-muted">You can always change your choice in the <a href="/contact/imprint/">privacy settings</a>.
            </div>
            <div class="col-lg-6 mt-3 mt-lg-0">
              <div class="btn-group row w-100 ml-0" role="group">
                <button type="button" class="btn btn-outline-success" id="matomo-tracking-optin">That's ok</button>
                <button type="button" class="btn btn-outline-danger" id="matomo-tracking-optout">No thanks</button>
                <button type="button" class="btn btn-outline-secondary" id="matomo-tracking-details">Tell me more</button>
              </div>
            </div>
          </div>
        </div>
      `

      optIn.querySelector('button#matomo-tracking-optin')
        .addEventListener('click', () => {
          _paq.push(['forgetUserOptOut'])
          _paq.push(['setConsentGiven'])
          // Remember tracking consent for all subsequent page views and visits,
          // for 30 days
          _paq.push(['rememberConsentGiven', 30*24])
          sessionStorage.setItem('tracking-consent', 'opt-in')
          wrapper.innerHTML = ''
        })

      optIn.querySelector('button#matomo-tracking-optout')
        .addEventListener('click', () => {
          _paq.push(['optUserOut'])
          _paq.push(['forgetConsentGiven'])
          sessionStorage.setItem('tracking-consent', 'opt-out')
          wrapper.innerHTML = ''
        })

      optIn.querySelector('button#matomo-tracking-details')
        .addEventListener('click', () => window.location = '/contact/imprint/')

      wrapper.appendChild(optIn)
    }
  }])
</script>
<!-- End Matomo Code -->
