<div
  {% if id %}id="{{ id }}"{% endif %}
  class="container my-5 py-5{% if class %} {{ class }}{% endif %}"
>
  <div class="row">
    <div class="col-lg-3">
      <h2>Founding members</h2>
    </div>
    <div class="col-lg-9 mt-1{% if body_class %} {{ body_class }}{% endif %}">
      {{ body | safe }}
      <div class="card-columns logo-masonry">
        {% set data = load_data(path=data_path) %}
        {%- for member in data.members %}
          <div class="card">
            <a
              data-toggle="popover"
              data-trigger="focus"
              tabindex="0"
              data-placement="bottom"
              title="
                {%- if member.url -%}
                  <a href='{{ member.url }}' target='_blank' rel='noopener noreferrer' class='float-right'>↗︎</a>
                  {{ member.name }}
                {%- else -%}
                  {{ member.name }}
                {%- endif -%}
              "
              data-content="
                {%- for contact in member.contacts -%}
                  {%- if loop.first -%}
                  {%- elif loop.last -%}
                    {# #} and {# #}
                  {%- else -%}
                    {# #}, {# #}
                  {%- endif -%}
                  <a href='{{ contact.url }}' target='_blank' rel='noopener noreferrer'>{{ contact.name }}</a>
                {%- endfor -%}
              "
              data-html="true"
            >
              <img
                src="{{ member.logo }}"
                alt="Logo of the {{ member.name }}"
                class="card-img-top mt-3"
                loading="lazy"
              >
            </a>
          </div>
        {% endfor -%}
      </div>
    </div>
  </div>
</div>

