<script>
	var map = L.map('map', {
    minZoom: 5,
		maxZoom: 7,
    maxBounds: L.latLngBounds(
      L.latLng(0, -70),
      L.latLng(75, 80),
    ),
    detectRetina: true,
  }).setView([51.163375, 10.447683], 6);

	L.tileLayer('/maps/tiles/{z}/{x}/{y}.png', {
		attribution: 'Public domain map data by <a href="https://www.naturalearthdata.com">Natural Earth</a>',
		tileSize: 256,
	}).addTo(map);

  function onEachFeature(feature, layer) {
    // does this feature have a property named popupContent?
    if (feature.properties && feature.properties.name) {
      const content = document.createElement('div')
      content.innerHTML = `
        <strong>${ feature.properties.name }</strong><br>
        ${ feature.properties.initiatives.join('<br>') }
      `
      layer.bindPopup(content)
    }
  }

  var members = [
    {% set data = load_data(path=data_path) %}
    {%- for place in data.place %}
      {
        "type": "Feature",
        "properties": {
          "name": "{{ place.name }}",
          "initiatives": [
            {% for initiative in place.initiative | sort(attribute="name") -%}
              "{{ initiative.name }}",
            {%- endfor %}
          ],
          "weight": {{ place.initiative | length }}
        },
        "geometry": {
          "type": "Point",
          "coordinates": [{{ place.lat }}, {{ place.lon }}]
        }
      },
    {% endfor -%}
  ]

  L.geoJSON(members, {
    onEachFeature: onEachFeature,
    pointToLayer: function (feature, latlng) {
			return L.circleMarker(latlng, {
				radius: (feature.properties?.weight ?? 1) * 2 + 4,
				fillColor: "#d63384",
				color: "#ab296a",
				weight: 1,
				opacity: 1,
				fillOpacity: 0.8
			});
		}
  }).addTo(map);
</script>
