{% import "macros/media.html" as media %}

<table class="table w-100">
  <colgroup>
    <col width="20%">
    <col width="40%">
    <col width="40%">
  </colgroup>
  <thead class="font-sans border-0">
    <tr>
      <td></td>
      <th scope="col">Initiative</th>
      <th scope="col">Representative(s)</th>
    </tr>
  </thead>
  <tbody>
    {% set data = load_data(path=data_path) %}
    {%- for place in data.place | sort(attribute="lon") | reverse %}
      {%- for initiative in place.initiative | sort(attribute="name") %}
        {%- for person in initiative.person | sort(attribute="name") %}
          <tr>
            {% if loop.index == 1 %}
            <td
              {%- if initiative.person | length > 1 %} rowspan="{{ initiative.person | length }}"{% endif -%}
            >
              <div
                class="rounded my-1"
                style="background-color: rgba(0, 0, 0, 0.125); position: relative"
              >
                {% if initiative.video -%}
                  <a href="{{ initiative.video }}" data-yt-video="{{ initiative.video | replace(from="https://youtu.be/", to="") }}" data-modal-title="{{ initiative.name }}" target="_blank" rel="noopener noreferrer">
                {%- endif %}
                {% if initiative.image -%}
                  {{-
                    media::picture_fill(
                      img=initiative.image,
                      widths=[160, 320],
                      heights=[90, 180],
                      class="rounded shadow-sm",
                      attrs="width='160'"
                    )
                  -}}
                {%- endif %}
                {% if initiative.video -%}
                  <i
                    class="fas fa-play-circle m-2"
                    style="font-size: 1.5rem; position: absolute; bottom: 0; right: 0; text-shadow: 0 0 1rem rgba(255, 255, 255, 0.75);"
                  ></i>
                </a>
                {%- endif %}
              </div>
            </td>
            <th
              scope="row"
              class="pe-3"
              {%- if initiative.person | length > 1 %} rowspan="{{ initiative.person | length }}"{% endif -%}
            >
              <div class="float-md-end ms-4">
                {% if initiative.url -%}
                  <a href="{{ initiative.url }}" target="_blank" rel="noopener noreferrer" class="text-decoration-none mx-1">
                    <i class="fas fa-globe-europe fa-sm"></i>
                  </a>
                {%- endif %}
                {% if initiative.email -%}
                  <a href="mailto:{{ initiative.email }}" class="text-decoration-none mx-1">
                    <i class="fas fa-envelope-open-text fa-sm"></i>
                  </a>
                {%- endif %}
                {% if initiative.mastodon -%}
                  <a href="{{ initiative.mastodon }}" target="_blank" rel="noopener noreferrer" class="text-decoration-none mx-1">
                    <i class="fab fa-mastodon fa-sm"></i>
                  </a>
                {%- endif %}
                {% if initiative.twitter -%}
                  <a href="https://twitter.com/{{ initiative.twitter }}" target="_blank" rel="noopener noreferrer" class="text-decoration-none mx-1">
                    <i class="fab fa-twitter fa-sm"></i>
                  </a>
                {%- endif %}
              </div>
              {{- initiative.name -}}
              {% if initiative.institution %}
                <br>
                <small class="text-muted fw-normal">
                  {{ initiative.institution }}
                </small>
              {% endif %}
            </th>
            {% endif %}
            <td>
              {{ person.name }}
              <div class="float-md-end">
                {% if person.url -%}
                  <a href="{{ person.url }}" target="_blank" rel="noopener noreferrer"  class="text-decoration-none mx-1">
                    <i class="fas fa-globe-europe fa-sm"></i>
                  </a>
                {%- endif %}
                {% if person.email -%}
                  <a href="mailto:{{ person.email }}" class="text-decoration-none mx-1">
                    <i class="fas fa-envelope-open-text fa-sm"></i>
                  </a>
                {%- endif %}
                {% if person.mastodon -%}
                  <a href="{{ person.mastodon }}" target="_blank" rel="noopener noreferrer" class="text-decoration-none mx-1">
                    <i class="fab fa-mastodon fa-sm"></i>
                  </a>
                {%- endif %}
                {% if person.twitter -%}
                  <a href="https://twitter.com/{{ person.twitter }}" target="_blank" rel="noopener noreferrer" class="text-decoration-none mx-1">
                    <i class="fab fa-twitter fa-sm"></i>
                  </a>
                {%- endif %}
              </div>
            </td>
          </tr>
        {% endfor -%}
      {% endfor -%}
    {% endfor -%}
  </tbody>
</table>

<script defer>
  class VideoModal {
    constructor(yt_embed = 'dJRsWJqDjFE?start=73', title = 'Never gonna give you up') {
      this.embed = yt_embed
      this.title = title
    }

    show() {
      this.el = document.createElement('div')
      this.el.setAttribute('class', 'modal modal-dark')
      this.el.setAttribute('tabindex', '-1')
      this.el.innerHTML = `
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">${ this.title }</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
              <div style="position: relative; width: 100%; padding-top: 56.25%; /* 16:9 Aspect ratio, remove wrapper and style settings below when more browsers support aspect-ratio directly */">
                <iframe
                  src="https://www.youtube-nocookie.com/embed/${ this.embed }"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                  style="width: 100%; height: 100%; position: absolute; top: 0; aspect-ratio: 16 / 9"
                ></iframe>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary font-sans" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      `
      document.body.appendChild(this.el)

      this.modal = new bootstrap.Modal(this.el)
      this.modal.show()
      this.el.addEventListener('hidden.bs.modal', () => {
        document.body.removeChild(this.el)
        this.el = null
        this.modal = null
      }, { once: true })
    }
  }

  document.querySelectorAll('a[data-yt-video]').forEach(el => {
    const m = new VideoModal(
      el.getAttribute('data-yt-video'),
      el.getAttribute('data-modal-title')
    )
    el.addEventListener('click', (e) => {
      e.preventDefault()
      m.show()
    })
  })
</script>
