<script>
  // Add some margin area around click targets
  const renderer = L.canvas({ tolerance: 5 })

  // Setup map
	var map = L.map('map', {
    minZoom: 5,
		maxZoom: 7,
    maxBounds: L.latLngBounds(
      L.latLng(0, -70),
      L.latLng(75, 80),
    ),
    detectRetina: true,
    renderer,
  }).setView([51.163375, 10.447683], 6);

	L.tileLayer('/maps/tiles/{z}/{x}/{y}.png', {
		attribution: 'Public domain map data by <a href="https://www.naturalearthdata.com">Natural Earth</a>',
		tileSize: 256,
	}).addTo(map);

  function onEachFeature(feature, layer) {
    // does this feature have a property named popupContent?
    if (feature.properties && feature.properties.name) {
      const content = document.createElement('div')
      content.innerHTML = `
        <strong>${ feature.properties.name }</strong><br>
        ${ feature.properties.initiatives.join('<br>') }
      `
      layer.bindPopup(content)
    }
  }

  const members = [
    {% set data = load_data(path=data_path) %}
    {%- for place in data.place %}
      {
        "type": "Feature",
        "properties": {
          "name": "{{ place.name }}",
          "initiatives": [
            {% for initiative in place.initiative | sort(attribute="name") -%}
              "{{ initiative.name }}",
            {%- endfor %}
          ],
          "weight": Math.min({{ place.initiative | length }} * 2.25 + 4, 12)
        },
        "geometry": {
          "type": "Point",
          "coordinates": [{{ place.lat }}, {{ place.lon }}]
        }
      },
    {% endfor -%}
  ]

  // Sort by number of initiatives to control overplotting
  const sortedMembers = members.sort(
    (a, b) => (b.properties?.initiatives?.length ?? 0) -
      (a.properties?.initiatives?.length ?? 0)
  )

  L.geoJSON(sortedMembers, {
    onEachFeature: onEachFeature,
    pointToLayer: function (feature, latlng) {
			return L.circleMarker(latlng, {
				radius: feature.properties?.weight ?? 1,
				fillColor: "#d63384",
				color: "#ab296a",
				weight: 1,
				opacity: 1,
				fillOpacity: 0.8
			});
		}
  }).addTo(map);
</script>
