{% set data = load_data(path=data_path) %}

{# Extract categories #}
{% set_global categories = [] %}
{% for category_list in data.resource | map(attribute='categories') %}
    {% set_global categories = category_list | concat(with=categories) %}
{% endfor %}

<ul class="nav nav-pills font-sans gallery-selector">
  <li class="nav-item">
    <a
      class="nav-link active" href="#"
      data-filter-category="*"
    >
      All topics
    </a>
  </li>
  {% for category in categories | unique() | sort() %}
    <li class="nav-item">
      <a
        class="nav-link" href="#"
        data-filter-category="{{ category | lower() }}"
      >
        {{ category }}
      </a>
    </li>
  {% endfor %}
</ul>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mx-lg-negative my-3 masonry">
  {% for resource in data.resource -%}
  <div class="col" data-category="{{ resource.categories | join(sep=' ') | lower() }}">
    <div class="card">
      {% if resource.image -%}
        <img
          src="{{ resource.image }}"
          class="card-img-top{% if resource.image_padded %} p-3{% endif %}"
          style="aspect-ratio: 1 / 1; object-fit: contain;"
          alt="{{ resource.title }} logo"
        >
      {%- endif %}
      <div class="card-body">
        <h5 class="card-title">
          <a href="{{ resource.url }}"
            class="stretched-link text-decoration-none text-dark"
            target="_blank" rel="noopener noreferrer"
          >
            {{ resource.title }}
          </a>
        </h5>
        <div class="card-text">
          {{ resource.description | markdown | safe }}
        </div>
      </div>
      {% if resource.footer -%}
        <div class="card-footer text-muted bg-transparent">
          {{ resource.footer | markdown | safe }}
        </div>
      {%- endif %}
    </div>
  </div>
  {%- endfor %}
</div>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js" integrity="sha256-qXBd/EfAdjOA2FGrGAG+b3YBn2tn5A6bhz+LSgYD96k=" crossorigin="anonymous"></script>

<script>
  // Apply masonry layout
  const elem = document.querySelector('.masonry')
  const msnry = new Isotope(elem, {
    masonry: {
      percentPosition: true,
      horizontalOrder: true,
    }
  })
  msnry.layout()

  // Recalculate layout after all images and fonts are loaded
  // (debounce to avoid excessive recalculation)
  const debouncedRelayout = _.debounce(() => msnry.layout(), 250)
  elem.querySelectorAll('img').forEach(el =>
    el.addEventListener('load', debouncedRelayout)
  )
  document.fonts.ready.then(debouncedRelayout)
  document.addEventListener('DOMContentLoaded', debouncedRelayout)

  // Hook up filter links
  const filters = document.querySelectorAll('ul.gallery-selector li a')
  const clickHandler = (e) => {
    e.preventDefault()

    // Apply marker
    filters.forEach(el => el.classList.remove('active'))
    e.target.classList.add('active')

    // Apply filter
    const filter = e.target.dataset.filterCategory
    msnry.arrange({
      filter: function(item) {
        if (filter == '*') {
          return true
        } else {
          return (item.dataset.category ?? '').includes(filter)
        }
      }
    })
  }

  filters.forEach(el => el.addEventListener('click', clickHandler))
</script>
