<!doctype html>
<html lang="en">
  <head>
    <title>
      DE-RN · {% block title %}
        {%- if page %}
          {{ page.title }}
        {% elif section %}
          {{ section.title }}
        {% elif title %}
          {{ title }}
        {% endif -%}
      {% endblock %}
    </title>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if page and page.description -%}
      <meta name="description" content="{{ page.description }}">
    {%- elif section and section.description -%}
      <meta name="description" content="{{ section.description }}">
    {%- endif %}

    <!-- Custom CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">

    {% block extrahead %}
    {% endblock %}
  </head>
  <body>
    <div class="wrapper">
    {% include "partials/header.html" %}
    {% block content %}
      {% if page %}
        {{ page.content | safe }}
      {% elif section %}
        {{ section.content | safe }}
      {% else %}
        Unspecified content type
      {% endif %}
    {% endblock %}
    </div>
    {% include "partials/footer.html" %}

    <!-- Scripts -->
    {% include "partials/scripts.html" %}
  </body>
</html>
