{% extends "base.html" %}
{% import "macros/url.html" as macros %}
{% import "macros/media.html" as media %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        {{ page.content | safe }}
      </div>
    </div>
    <div class="row">
      <div class="col-lg px-lg-4 py-5">
        <h2 class="h3">News</h2>
        {% set posts = get_section(path="news/_index.md") -%}
        {% for post in posts.pages | slice(end=4) %}
          <article class="{% if loop.first %}mt-4{% else %}mt-5{% endif %} pb-1">
            {% if post.extra.header_image %}
              {%- set img = macros::expand_url(page=post, file=post.extra.header_image) -%}
              {{-
                media::picture(
                  img=img,
                  widths=[270, 330, 390, 694],
                  class="rounded w-100 border"
                )
              -}}
            {% endif %}
            <h3 class="h5 fw-normal mt-4">{{ post.title }}</h3>
            {% if post.summary %}
              {{ post.summary | safe }}
              <a href="{{ post.permalink }}#continue-reading" class="small d-block">
                Continue &rarr;
              </a>
            {% else %}
              {{ post.content | safe }}
            {% endif %}
          </article>
        {% else %}
          <div class="text-muted">
            No entries right now.<br>
            <i class="fw-light">We're working on it!</i>
          </div>
        {% endfor %}
      </div>
      <div class="col-lg px-lg-4 py-5">
        {% set events = get_section(path="events/_index.md") -%}
        {# Keep count of how many events we have shown so far #}
        {% set_global event_count = 0 %}
        {% for event in events.pages | reverse %}
          {# The visibility threshold can be set manually, but defaults to the event date #}
          {%- if event.extra.visible_until -%}
            {% set visible_until = event.extra.visible_until %}
          {%- else -%}
            {% set visible_until = event.date %}
          {%- endif -%}
          {# After their visibility deadline, show events for one more day #}
          {%- if visible_until and visible_until | date(format="%s") | int + 24 * 60 * 60 >= now() | date(format="%s") | int %}
            <article class="{% if event_count == 0 %}mt-4{% else %}mt-5{% endif %} pb-1">
              {% set_global event_count = event_count + 1 %}
              {% if event_count == 1 -%}
                {# Show the title on the first visible event #}
                <h2 class="h3">Upcoming</h2>
              {%- endif %}
              {% if event.extra.header_image %}
                {%- set img = macros::expand_url(page=event, file=event.extra.header_image) -%}
                {{-
                  media::picture(
                    img=macros::expand_url(page=event, file=event.extra.header_image),
                    widths=[270, 330, 390, 694],
                    class="rounded w-100 border"
                  )
                -}}
              {% endif %}
              <h3 class="h5 fw-lighter">
                {{ event.title }}
                {%- if event.extra.show_date is undefined or event.extra.show_date != false -%}
                  <small class="text-muted">
                    · {{ event.date | date(format="%B %_d, %Y") }}
                  </small>
                {%- endif -%}
              </h3>
              {% if event.summary %}
                {{ event.summary | safe }}
                <a href="{{ event.permalink }}#continue-reading" class="small d-block">
                  Find out more &rarr;
                </a>
              {% else %}
                {{ event.content | safe }}
              {% endif %}
              {% if event_count >= 4 %}
                {% break %}
              {% endif %}
            </article>
          {% endif %}
        {% endfor %}
        <h2 class="h3">
          Recent events
        </h2>
        {% for event in events.pages | slice(end=3) %}
          <article class="mb-4">
            <h3 class="h5 fw-lighter mb-2">
              {{ event.title }}
              {%- if event.extra.show_date is undefined or event.extra.show_date != false -%}
                <small class="text-muted">
                  · {{ event.date | date(format="%B %_d, %Y") }}
                </small>
              {%- endif -%}
            </h3>
            <a href="{{ event.permalink }}" class="small d-block">
              More &rarr;
            </a>
          </article>
        {% endfor %}
      </div>
      <div class="col-lg px-lg-4 py-5">
        <h2 class="h3">
          <a
            class="twitter-timeline text-dark text-decoration-none"
            data-lang="en"
            data-height="600"
            data-dnt="true"
            href="https://twitter.com/GermanRepro?ref_src=twsrc%5Etfw"
          >
            Twitter
          </a>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </h2>
      </div>
    </div>
  </div>
{% endblock %}

