{% extends "base.html" %}
{% import "macros/url.html" as macros %}
{% import "macros/media.html" as media %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1>{{ page.title | safe }}</h1>
        {% if page.extra.header_image %}
          {%- set img = macros::expand_url(page=page, file=page.extra.header_image) -%}
          <div class="my-4 mx-lg-negative">
            {{-
              media::picture(
                img=img,
                widths=[514, 694, 774, 914, 1034],
                class="w-100 rounded border"
              )
            -}}
          </div>
        {% endif %}
        {{ page.content | safe }}
      </div>
    </div>
  </div>
{% endblock %}
